<p>
  <b>Title:</b>
  <%=h @reply.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @reply.body %>
</p>

<p>
  <b>Topic:</b>
  <%=h @reply.topic_id %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>