<span>
  <h1><%=h @photo.title %></h1>
</span>
<div class="mainpic">
  <%= image_tag @photo.image.url(:avatar) ,:alt =>"被GFW和谐了！" %>
<%#*<div class="legend">所有人：<%=h @photo.user.login %><%#=；是否为头像：%><%#= @photo.is_avatar %>


  <div class="subject clearfix">

    <br />
    <span>
      <span class="p1">Director:</span>
      <%=h @photo.director_id %>
    </span>
    <br />

    <span>
      <span class="p1">Country:</span>
      <%=h @photo.country_id %>
    </span>
    <br />

    <span>
      <span class="p1">Language:</span>
      <%=h @photo.language %>
    </span>
    <br />

    <span>
      <span class="p1">Published at:</span>
      <%=h @photo.published_at.strftime("%Y-%m-%d") %>
    </span>
    <br />

    <span>
      <span class="p1">Length:</span>
      <%=h @photo.length %><%= "分钟" %>
    </span>
    <br />

    <span>
      <span class="p1">Starring</span>
      <%=h @photo.starring %>
    </span>
    <br />

    <span>
      <span class="p1">Screenwrite:</span>
      <%=h @photo.screenwrite %>
    </span>
    <br />

  </div>
</div>
<br />
<span>
  <span class="p1">剧情简述:</span>
  <%=h @photo.description %>
</span>
<br />
<%= link_to "<img src='/images/icon_edit.gif' border='0' alt='编辑'/>", [:edit,@photo],:class => "button" %>
<%= link_to "<img src='/images/icon_back.png' border='0' alt='返回'/>", photos_path,:class => "button"   %>
<%= render :partial => 'jz' %>
